body {
  font-family: Arial;
  background: #e0e0ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px gray;
  border-radius: 8px;
  text-align: center;
  width: 300px;
}

input {
  margin: 10px 0;
  width: 100%;
  padding: 8px;
  font-size: 16px;
}

button {
  padding: 10px;
  width: 100%;
  background: #4b65ff;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 14px;
}
